<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', file='css/calendar.css') }}">
    <script type="text/javascript" src="{{ url_for('static', file='js/d3-5.14.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', file='js/d3-scale.v2.2.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('flow/static', file='js/dagre-d3-0.6.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('flow/static', file='js/flow_viewer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', file='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('flow/static', file='js/jquery.tipsy.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', file='js/mx_utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', file='js/alertify-0.3.17.trunk.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', file='js/context_menu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', file='js/calendar-data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', file='js/calendar.js') }}"></script>

    <title>D3 Calendar</title>
</head>
<body>

<div class="live map">
    <svg>
        <g/>
    </svg>
</div>

<script type="text/javascript">
    $(function () {
        chart();
    });
</script>

</body>
</html>