{% extends 'main_header.html' %}
{% block body %}

{% import 'block_time_window_selector.html' as block_time_window %}
{{ block_time_window.time_window_selector(details, 3) }}

<div><table style="width: 90%" class="one-column-emphasis synergy_datatable" id="dashboard_table">
    <thead>
    <tr class="one-column-emphasis-first">
        <th scope="col">Process Name</th>
        <th scope="col">Entry Name</th>
        <th scope="col">Time period</th>
        <th scope="col">State</th>
        <th scope="col"></th>  <!-- View Uow -->
    </tr>
    </thead>
    <tbody>

    {%- for uow_key, uow_entry in details.freeruns.items() -%}
    <tr class="{{ uow_entry.state }}">
        <td>{{ uow_entry.process_name }}</td>
        <td>{{ uow_entry.entry_name }}</td>
        <td>{{ uow_entry.timeperiod }}</td>
        <td>{{ uow_entry.state }}</td>
        <td>
            {% set url = 'action=action/get_uow' + '&process_name=' + uow_entry.process_name + '&entry_name=' + uow_entry.entry_name + '&is_freerun=True' %}
            <form method="GET" onsubmit="window.open('/object_viewer/?{{ url }}','Get Uow',
                    'toolbar=no,scrollbars=yes,resizable=yes,top=250,left=250,width=400,height=350'); return false;">
                <input type="submit" class="action_button fa-input" title="View Uow" value="&#xf1c9;&nbsp;Uow"/>
            </form>
        </td>
    </tr>
    {%- endfor -%}

    </tbody>
</table></div>

{% endblock %}
