{% extends 'main_header.html' %}
{% block body %}

    {% set tree_name = 'TreeSite' %}
    {% set process_1 = 'SiteYearly' %}
    {% set process_2 = 'SiteMonthly' %}
    {% set process_3 = 'SiteDaily' %}
    {% set process_4 = 'SiteHourly' %}

    <div class="">
        <div id="grid-header-{{ tree_name }}" class="grid-header"></div>
        <div id="grid-header-{{ process_1 }}" class="grid-header"></div>
        <div id="grid-header-{{ process_2 }}" class="grid-header"></div>
        <div id="grid-header-{{ process_3 }}" class="grid-header"></div>
        <div id="grid-header-{{ process_4 }}" class="grid-header"></div>
    </div> <br/>
    <div class="">
        <div id="grid-info-{{ tree_name }}" class="grid-info"></div>
        <div id="grid-info-{{ process_1 }}" class="grid-info context-menu"></div>
        <div id="grid-info-{{ process_2 }}" class="grid-info context-menu"></div>
        <div id="grid-info-{{ process_3 }}" class="grid-info context-menu"></div>
        <div id="grid-info-{{ process_4 }}" class="grid-info context-menu"></div>
    </div>

    <div class="context_menu_hide" id="rmenu">
        <ul>
            <li>
                <a onclick="process_batch('action_skip', false)">Skip</a>
            </li>
            <li>
                <a onclick="process_batch('action_reprocess', false)">Reprocess</a>
            </li>
        </ul>
    </div>

{% endblock %}
