{% extends 'main_header.html' %}
{% block body %}

    {% set mx_trees = {
    'TreeSite': {
            'tree_name': 'TreeSite',
            'processes': ['SiteYearly', 'SiteMonthly', 'SiteDaily', 'SiteHourly']
        },
        'TreeAlert': {
            'tree_name': 'TreeAlert',
            'processes': ['AlertDaily']
        }
    } %}

    {%- for tree_name, tree_obj in mx_trees.items() -%}
        <div class="grid-container">
            <div id="grid-header-{{ tree_name }}" class="grid-header"></div>
            {%- for process_name in tree_obj.processes -%}
            <div id="grid-header-{{ process_name }}" class="grid-header"></div>
            {%- endfor -%}
        </div>
        <div class="grid-container">
            <div id="grid-info-{{ tree_name }}" class="grid-info"></div>
            {%- for process_name in tree_obj.processes -%}
            <div id="grid-header-{{ process_name }}" class="grid-info context-menu"></div>
            {%- endfor -%}
        </div>
    {%- endfor -%}

    <div class="context_menu_hide" id="rmenu">
        <ul>
            <li>
                <a onclick="process_batch('action_skip', false)">Skip</a>
            </li>
            <li>
                <a onclick="process_batch('action_reprocess', false)">Reprocess</a>
            </li>
        </ul>
    </div>

{% endblock %}
