{% extends 'main_header.html' %}
{% block body %}

    <div id="container">
        <div id="wrapper">
            <div id="level">
            </div>
            <div id="content">
            </div>
        </div>
        <div id="navigation">
        </div>
    </div>

{% import 'block_context_menu.html' as context_menu %}
{{ context_menu.job_menu() }}

<script type="text/javascript" src="{{ url_for('static', file='js/scheduler_ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', file='js/navigation_menu.js') }}"></script>

{% endblock %}
