{% extends 'main_header.html' %}
{% block body %}

    <div id="container">
        <div id="wrapper">
            <div id="level">
            </div>
            <div id="content">
            </div>
        </div>
        <div id="navigation">
        </div>
    </div>

    <div class="context_menu_hide" id="rmenu">
        <ul>
            <li>
                <a onclick="process_batch('action_skip', false)">Skip</a>
            </li>
            <li>
                <a onclick="process_batch('action_reprocess', false)">Reprocess</a>
            </li>
        </ul>
    </div>

{% endblock %}
