{% extends 'main_header.html' %}
{% block body %}
<table style="width: 90%" class="one-column-emphasis context-menu">
    <thead>
    <tr class="oce-first">
        <th scope="col"><input type="checkbox" name="select_all" onclick="toggle_all_checkboxes(this)"/> </th>
        <th scope="col">Trigger On/Alive</th>
        <th scope="col">Process Name</th>
        <th scope="col">Entry Name</th>
        <th scope="col">Trigger Frequency</th>
        <th scope="col">Trigger Now</th>
        <th scope="col">Next Run In</th>
        <th scope="col">Arguments</th>
        <th scope="col">View Log</th>
        <th scope="col">Get Uow</th>
        <th scope="col">Cancel Uow</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>

    {%- for row in details.freerun_entries %}
    {%- if row.is_on != row.is_alive -%}
    <tr class="state_inconsistent">
    {%- elif not row.is_alive -%}
    <tr class="state_inactive">
    {%- else -%}
    <tr>
    {%- endif -%}
        <td>
            {% set value = "{ process_name: '" + row.process_name + "', entry_name: '" + row.entry_name + "', is_freerun: 'True' }" %}
            <input type="checkbox" name="batch_processing" value="{{ value }}"/>
        </td>
        <td>{{ row.is_on }} / {{ row.is_alive }}</td>
        <td>{{ row.process_name }}</td>
        <td>{{ row.entry_name }}</td>
        <td>
            <form method="GET" action="/action_change_interval/">
                <input type="hidden" name="process_name" value="{{ row.process_name }}" />
                <input type="hidden" name="entry_name" value="{{ row.entry_name }}" />
                <input type="hidden" name="is_freerun" value="True" />
                <input type="text" size="8" maxlength="32" name="interval" value="{{ row.trigger_frequency }}" />
                <input type="submit" value="Apply" />
            </form>
        </td>
        <td>
            <form method="GET" action="/action_trigger_now/">
                <input type="hidden" name="process_name" value="{{ row.process_name }}" />
                <input type="hidden" name="entry_name" value="{{ row.entry_name }}" />
                <input type="hidden" name="is_freerun" value="True" />
                <input type="submit" value="Trigger" />
            </form>
        </td>

        <td>{{ row.next_run_in }}</td>
        <td>{{ row.arguments|jsonify }}</td>
        <td>
            {% set url = 'action=action_get_log' + '&process_name=' + row.process_name + '&entry_name=' + row.entry_name + '&is_freerun=True' %}
            <form method="GET" onsubmit="window.open('/object_viewer/?{{ url }}','View Log',
                 'toolbar=no,scrollbars=yes,resizable=yes,top=250,left=250,width=720,height=480'); return false;">
                <input type="submit" value="View Log"/>
            </form>
        </td>
        <td>
            {% set url = 'action=action_get_uow' + '&process_name=' + row.process_name + '&entry_name=' + row.entry_name + '&is_freerun=True' %}
            <form method="GET" onsubmit="window.open('/object_viewer/?{{ url }}','Get Uow',
                 'toolbar=no,scrollbars=yes,resizable=yes,top=250,left=250,width=400,height=350'); return false;">
                <input type="submit" value="Get Uow"/>
            </form>
        </td>
        <td>
            <form method="GET" action="/action_cancel_uow/">
                <input type="hidden" name="process_name" value="{{ row.process_name }}" />
                <input type="hidden" name="entry_name" value="{{ row.entry_name }}" />
                <input type="hidden" name="is_freerun" value="True" />
                <input type="submit" value="Cancel Uow" />
            </form>
        </td>
        <td>
            {% set form_url = url_for('open_schedulable_form') %}
            {% set url = form_url + '?process_name=' + row.process_name + '&entry_name=' + row.entry_name + '&is_freerun=True' + '&is_new_entry=False'%}
            <form method="GET"
                 onsubmit="window.open('{{ url }}','Edit Freerun Trigger',
                 'toolbar=no,scrollbars=yes,resizable=yes,top=250,left=250,width=750,height=550'); return false;">
                <input type="submit" value="Edit"/>
            </form>
        </td>
    </tr>
    {%- endfor %}

    <tr>
        <td colspan="13">
            {% set form_url = url_for('open_schedulable_form') %}
            {% set url = form_url + '?is_new_entry=True'%}
            <a href="#" onClick="MyWindow=window.open('{{ url }}','New Freerun Trigger',
                'toolbar=no,scrollbars=yes,resizable=yes,top=250,left=250,width=750,height=550'); return false;">
                Add New Freerun Trigger
            </a>
        </td>
    </tr>

    </tbody>
</table>

{% import 'block_context_menu.html' as context_menu %}
{{ context_menu.trigger_menu(true) }}

{% endblock %}
