{% extends 'main_header.html' %}
{% block body %}

<div><table class="one-column-emphasis synergy-datatable" id="supervisor_table">
    <thead>
    <tr class="one-column-emphasis-first">
        <th scope="col">Box Id</th>
        <th scope="col">Process Name</th>
        <th scope="col">Is On</th>
        <th scope="col">PID</th>
        <th scope="col"></th> <!-- enable/disable-->
    </tr>
    </thead>
    <tbody>

    {%- for db_id, bc_entry in details.entries.items() -%}
    <tr class="{{ bc_entry.state }}">
        <td>{{ bc_entry.box_id }}</td>
        <td>{{ bc_entry.process_name }}</td>
        <td>{{ bc_entry.is_on }}</td>
        <td>{{ bc_entry.pid }}</td>
        <td>
            <form method="POST" action="/managed/entry/trigger/">
                <input type="hidden" name="box_id" value="{{ bc_entry.box_id }}" />
                <input type="hidden" name="process_name" value="{{ bc_entry.process_name }}" />
                <input type="submit" class="action_button fa-input" title="Activate" value="&#xf135;&nbsp;Trigger"/>
            </form>
        </td>
    </tr>
    {%- endfor -%}

    </tbody>
</table></div>

{% endblock %}
