{% extends 'main_header.html' %}
{% block body %}

{% for tree_name, tree_obj in details.iteritems() %}

    Details for <b>{{ tree_obj.tree_name }}</b> (available at <a href="/{{ tree_obj.mx_page }}">{{ tree_obj.mx_page }}</a> tab as <b>{{ tree_obj.mx_name }}</b>):

    <table style="width: 90%" class="one-column-emphasis">
    <thead>
    <tr class="oce-first">
        <th scope="col">Process Name</th>
        <th scope="col">Time Qualifier</th>
        <th scope="col">State Machine</th>
        <th scope="col">Process Type</th>
        <th scope="col">Run On Active Timeperiod</th>
        <th scope="col">Dependent On</th>
        <th scope="col">Dependant Trees</th>
    </tr>
    </thead>
    <tbody>

    {% for process_name, process_details in tree_obj.processes.iteritems() %}
    <tr>
        <td>{{ process_details.process_name }}</td>
        <td>{{ process_details.time_qualifier }}</td>
        <td>{{ process_details.state_machine }}</td>
        <td>{{ process_details.process_type }}</td>
        <td>{{ process_details.run_on_active_timeperiod }}</td>
        <td>{{ tree_obj.dependent_on }}</td>
        <td>{{ tree_obj.dependant_trees }}</td>
    </tr>
    {% endfor %}

    </tbody>
    </table>
{% endfor %}

{% endblock %}
