$body-font-size = 1.4rem
$btn-font-size = 0.8rem
$btn-font-size-icons = 1.1rem

@import './helpers.styl'
@import './colors.styl'
@import './ui.styl'
@import './mx.styl'
@import './tables.styl'
@import './checkbox.styl'
@import './context_menu.styl'