html
body
  margin 0
  padding 0

html
  box-sizing border-box

*
*:before
*:after
  box-sizing inherit

body
  color $ui-color-1
  padding 10px
  font-size 1.4rem

.footer
  width 100%
  margin 0
  padding 1rem
  clear both
  background-color $ui-color-2
  color white
  display inline-flex
  justify-content space-between

  a
    color white

.inline
  display inline

.nav
  display inline-flex
  justify-content space-between
  width 100%
  margin 0
  padding 2rem 1rem
  background-color $ui-color-2
  color white
  vertical-align middle
  align-items center

  .navbar
    margin 0
    display inline-flex
    height 100%

.nav-item
  display inline-flex
  border-right 2px solid white
  color whitesmoke
  padding 0 1.5rem
  height 100%

  &:hover
    color white

  &:active
    color white
    text-decoration underline

  &:last-of-type
    border none

.page-title-bar
  padding 1rem 2rem
  display flex
  justify-content right

  h2
    display inline-flex
    margin-bottom 0

  .side-tool-bar
    display inline-flex
    vertical-align middle
    align-self flex-end
    align-items flex-end

a
  &.nav-item
    color whitesmoke
    text-decoration none
    box-sizing border-box
    height 100%

    &.active
      // text-decoration underline
      color white
      background-color $ui-color-3



.side-tool-bar
  margin 0.5rem 0
  display flex
  justify-content flex-end
  vertical-align center