html
body
  margin 0
  padding 0

html
  box-sizing border-box

*
*:before
*:after
  box-sizing inherit

body
  color $ui-color-1
  font-size $body-font-size


// footer styles
.footer
  width 100%
  bottom 0
  right 0
  left 0
  margin 0
  padding 1rem
  clear both
  background-color $ui-color-2
  color white
  display inline-flex
  justify-content space-between

  a
    color white

// nav styles
.nav
  display inline-flex
  justify-content space-between
  width 100%
  margin 0
  padding 2rem 1rem
  background-color $ui-color-2
  color white
  vertical-align middle
  align-items center

  .navbar
    margin 0
    display inline-flex
    height 100%

.nav-item
  display inline-flex
  border-right 2px solid white
  color whitesmoke
  padding 0 1.5rem
  height 100%

  &:hover
    color white

  &:last-of-type
    border none

a
  &.nav-item
    color whitesmoke
    text-decoration none
    box-sizing border-box
    height 100%
    white-space nowrap

    &.active
      color white
      background-color $ui-color-3

.page-title-bar
  padding 1rem 2rem
  display flex
  justify-content right

  h2
    display inline-flex
    margin-bottom 0

  .side-tool-bar
    display inline-flex
    vertical-align middle
    align-self flex-end
    align-items flex-end


// sidebar styles
.side-tool-bar
  margin 0.5rem 0
  display flex
  justify-content flex-end
  vertical-align center

// form styles

.popup-form
  tr
    &:last-child
      td
        padding 2rem 1rem
        text-align: right
      &:hover
        background-color transparent
    td
      &:first-child
        font-weight bold
        text-transform uppercase
        white-space nowrap
        font-size 1.2rem
      padding-left 1rem
      padding-right 1rem

.process-form
  margin-bottom 0

  input[type="text"]
    height 2.5rem
    padding 2px 5px
    margin-right 0.5rem

  button
    height 2.5rem
    border-color $color-5
    opacity 0.75
    padding 0 6px
    min-width 4rem

    i
      opacity 0.8

    &:hover
      border-color $color-6
      opacity 1
