body {
    padding: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.grid-container {
    width: 85%;
    float: left;
    clear: left;
}

.grid-header {
    width: 15%;
    height: 140px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: whitesmoke;
    margin: 10px 0 0;
    border: 5px solid white;
    float: left;
}

.grid-info {
    width: 15%;
    height: 400px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: whitesmoke;
    margin: 0 0 10px;
    border: 5px solid white;
    float: left;
}

.grid {
    width: 95%;
    height: 600px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ddd;
    margin: 10px 0px;
    border: 10px solid #ddd;
    clear: both;
}

.grid > div {
    background-color: #fff;
    position: absolute;
}

.grid-info > div {
    background-color: #fff;
    position: absolute;
}

.dev-tile-number, .dev-tile-size {
    font-size: 36px;
    padding: 10px;
}

.dev-title-content {
    font-size: 16px;
}

.dev-tiles-templates ul {
    margin-bottom: 10px;
}

div.state_embryo {
    background-color: #eff2ff;
}

div.state_embryo div {
    color: #669;
}

div.state_in_progress {
    background-color: #C3FDB8;
}

div.state_in_progress div {
    color: #000000;
}

div.state_processed {
    background-color: #15C200;
}

div.state_processed div {
    color: #FFFFFF;
}

div.state_final_run {
    background-color: #ADFF2F;
}

div.state_final_run div {
    color: #000000;
}

div.state_skipped {
    background-color: #FF4500;
}

div.state_skipped div {
    color: #000000;
}

div.state_noop {
    background-color: #FFCCAA;
}

div.state_noop div {
    color: #000000;
}

div.state_inconsistent {
    background-color: #d28aff;
}

div.state_inactive {
    background-color: lightgray;
}
