html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: #006;
    padding: 10px;
}

div#header { position: relative }

div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
    background: #EEE;
    color: #79B30B;
}

div#header a {
    position: absolute;
    right: 0;
    top: 23px;
}

div#content p { line-height: 1.4 }

div#navigation { background: #B9CAFF }

div#extra { background: #FF8539 }

div#footer {
    background: #333;
    color: #FFF;
}

div#footer p {
    margin: 0;
    padding: 5px 10px;
}

div#footer a {
    display: inline;
    padding: 0;
    color: #C6D5FD;
}

div#wrapper {
    float: right;
    width: 100%;
    margin-right: -20%;
}

div#content { margin-right: 33% }

div#navigation {
    float: left;
    width: 12%;
}

div#extra {
    float: left;
    clear: left;
    width: 32.9%;
}

div#footer {
    clear: both;
    width: 100%;
}


/*
 * Table that host data rows on all pages
 */
.one-column-emphasis
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 560px;
    text-align: left;
    border-collapse: collapse;
}
.one-column-emphasis th
{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}
.one-column-emphasis td
{
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8edff;
}
.oce-first
{
    background: #d0dafd;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.one-column-emphasis tr:hover td
{
    color: #339;
    background: #eff2ff;
}

/*
 * Table that holds list of pages on top of the page
 */
.header-table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    color: #FFFFFF;
    background: #333333;
}
.header-table th
{
    font-size: 20px;
    font-weight: bold;
    padding: 12px 15px;
}
.header-table td
{
    padding: 10px 15px;
    border-top: 1px solid #FFFFFF;
}
.header-table tr td a
{
    text-decoration: none;
    color: #FFFFFF;
}
.header-table tr:hover td:hover, .header-table td.active
{
    background: #CC0000;
}
.header-table tr:hover td:hover a, .header-table tr:hover td:hover a:hover
{
    text-decoration: none;
    color: #FFFFFF;
    background: #CC0000;
}


/*
 * menu that builds navigational panel with names of aggregators
 */
ul.menu, ul.menu ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 15em;
}

ul.menu a {
    display: block;
    text-decoration: none;
}

ul.menu li {
    margin-top: 1px;
}

ul.menu li a, ul.menu ul.menu li a {
    background: #333;
    color: #fff;
    padding: 0.5em;
}

ul.menu li a:hover, ul.menu ul.menu li a:hover {
    background: #000;
}

ul.menu li ul li a, ul.menu ul.menu li ul li a{
    background: #ccc;
    color: #000;
    padding-left: 20px;
}

span.subtitle {
    display: block;
    background: #ccc;
    color: #000;
    padding: 0.5em;
    padding-left: 20px;
}

span.detail {
    display: block;
    background: #fff;
    color: #000;
    padding: 0.5em;
    padding-left: 40px;
}



ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover {
    background: #aaa;
    border-left: 5px #000 solid;
    padding-left: 15px;
}
ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 0.5em;
}
ul.menu ul.menu {
    border-left: 5px #f00 solid;
}
ul.menu a.active, ul.menu ul.menu li a.active, ul.menu a.active:hover, ul.menu ul.menu li a.active:hover {
    text-decoration: underline;
    background: #c00;
}
div.panel {
    border: 1px #000 solid;
    padding: 5px;
    margin-top: 1px;
}

ul.menu div.panel a, ul.menu div.panel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
ul.menu div.panel a:hover {
    color: #000;
    text-decoration: underline;
}



/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
    /*min-height: 302px;*/
    /*height: 302px;*/
   position: relative;
   clear: both;
   zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 250px;
   height: 30px;
   margin-left: -125px;
   margin-top: -15px;
   padding: 14px 0 2px 0;
   border: 1px solid #ddd;
   text-align: center;
   color: #999;
   font-size: 14px;
   background-color: white;
}

.dataTables_length {
   width: 40%;
   float: left;
}

.dataTables_filter {
   width: 50%;
   float: right;
   text-align: right;
}

.dataTables_info {
   width: 60%;
   float: left;
}

.dataTables_paginate {
   /*width: 44px;*/
   float: right;
   text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
   height: 19px;
   /*width: 19px;*/
   /*margin-left: 3px;*/
   float: left;
   cursor: pointer;
   *cursor: hand;
}

/* copied from the  */
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}
/* end of new insert */

.paginate_disabled_previous {
	background: url('images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('images/forward_enabled_hover.png') no-repeat top right;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
   margin: 0 auto;
   clear: both;
   width: 100%;

   /* Note Firefox 3.5 and before have a bug with border-collapse
    * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 )
    * border-spacing: 0; is one possible option. Conditional-css.com is
    * useful for this kind of thing
    *
    * Further note IE 6/7 has problems when calculating widths with border width.
    * It subtracts one px relative to the other browsers from the first column, and
    * adds one to the end...
    *
    * If you want that effect I'd suggest setting a border-top/left on th/td's and
    * then filling in the gaps with other borders.
    */
}

table.display thead th {
   padding: 3px 18px 3px 10px;
   border-bottom: 1px solid black;
   font-weight: bold;
   cursor: pointer;
   * cursor: hand;
}

table.display tfoot th {
   padding: 3px 18px 3px 10px;
   border-top: 1px solid black;
   font-weight: bold;
}

table.display tr.heading2 td {
   border-bottom: 1px solid #aaa;
}

table.display td {
   padding: 3px 10px;
}

table.display td.center {
   text-align: center;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
   background: url('images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
   background: url('images/sort_desc.png') no-repeat center right;
}

.sorting {
   background: url('images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
   background: url('images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
   background: url('images/sort_desc_disabled.png') no-repeat center right;
}



/* highlighting different state */

tr.state_embryo {
    background-color: #eff2ff;
}

tr.state_embryo td {
    color: #669;
}

tr.state_in_progress {
    background-color: #C3FDB8;
}

tr.state_in_progress td {
    color: #000000;
}

tr.state_processed {
    background-color: #15C200;
}

tr.state_processed td {
    color: #FFFFFF;
}

tr.state_final_run {
    background-color: #ADFF2F;
}

tr.state_final_run td {
    color: #000000;
}

tr.state_skipped {
    background-color: #FF4500;
}

tr.state_skipped td {
    color: #000000;
}

tr.state_inconsistent {
    background-color: #d28aff;
}

tr.state_inactive {
    background-color: lightgray;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
   clear: both;
}

.dataTables_scrollBody {
   	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

.top, .bottom {
   padding: 15px;
   background-color: #F5F5F5;
   border: 1px solid #CCCCCC;
}

.top .dataTables_info {
   float: none;
}

.clear {
   clear: both;
}

.dataTables_empty {
   text-align: center;
}

tfoot input {
   margin: 0.5em 0;
   width: 100%;
   color: #444;
}

tfoot input.search_init {
   color: #999;
}

td.group {
   background-color: #d1cfd0;
   border-bottom: 2px solid #A19B9E;
   border-top: 2px solid #A19B9E;
}

td.details {
   background-color: #d1cfd0;
   border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
   width: 40%;
}

.paging_full_numbers {
   width: 400px;
   height: 22px;
   line-height: 22px;
}

.paging_full_numbers span.paginate_button,
    .paging_full_numbers span.paginate_active {
   border: 1px solid #aaa;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   padding: 2px 5px;
   margin: 0 3px;
   cursor: pointer;
}

.paging_full_numbers span.paginate_button {
   background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
   background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
   background-color: #99B3FF;
}

table.display tr.even.row_selected td {
   background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
   background-color: #9FAFD1;
}



/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
   background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
   background-color: #E6FF99;
}

.ex_highlight_row #example tr.even:hover {
   background-color: #ECFFB3;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
   background-color: #DDFF75;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
   background-color: #E7FF9E;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
   background-color: #E2FF89;
}

.ex_highlight_row #example tr.odd:hover {
   background-color: #E6FF99;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
   background-color: #D6FF5C;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
   background-color: #E0FF84;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
   background-color: #DBFF70;
}

/*
 * Right-mouse menu for the
 */
.context_menu_show {
    z-index:1000;
    position: absolute;
    background-color: whitesmoke;
    border: 0.2em ridge #000000;
    padding: 1px;
    display: block;
    margin: 0;
    list-style: none;
}

.context_menu_hide {
    display: none;
}

.context_menu_show li{
    list-style: none;
    margin: 5px 0;
}

.context_menu_show a {
    border: 0 !important;
    text-decoration: none;
    padding: 0 2em 0 0;
    font-size: 0.85em;
    font-weight: bold;
}

.context_menu_show a:hover {
    text-decoration: underline !important;
}
