.background {
    fill: #eee;
}

line {
    stroke: #fff;
}

.composite-chart {
    width: 100%;
    height: 70%;
    min-width: 1440px;
    min-height: 480px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.midnight {
    stroke: rebeccapurple;
    stroke-width: 2;
}

.monthly-timeperiod {
    stroke: mediumpurple;
    stroke-width: 3;
}

.yearly-timeperiod {
    stroke: magenta;
    stroke-width: 3;
}

text.active {
    fill: red;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 180px;
    height: 68px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 2px;
    pointer-events: none;
}