.inline {
  display: inline;
}
.inline-flex {
  display: inline-flex;
}
.p-0 {
  padding: 0rem;
}
.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}
.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.pl-0 {
  padding-left: 0rem;
}
.pr-0 {
  padding-right: 0rem;
}
.pt-0 {
  padding-top: 0rem;
}
.pb-0 {
  padding-bottom: 0rem;
}
.m-0 {
  margin: 0rem;
}
.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}
.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.ml-0 {
  margin-left: 0rem;
}
.mr-0 {
  margin-right: 0rem;
}
.mt-0 {
  margin-top: 0rem;
}
.mb-0 {
  margin-bottom: 0rem;
}
.p-1 {
  padding: 1rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.m-1 {
  margin: 1rem;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.p-2 {
  padding: 2rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.m-2 {
  margin: 2rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.p-3 {
  padding: 3rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pr-3 {
  padding-right: 3rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.m-3 {
  margin: 3rem;
}
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.ml-3 {
  margin-left: 3rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.p-4 {
  padding: 4rem;
}
.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.pl-4 {
  padding-left: 4rem;
}
.pr-4 {
  padding-right: 4rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pb-4 {
  padding-bottom: 4rem;
}
.m-4 {
  margin: 4rem;
}
.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}
.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.ml-4 {
  margin-left: 4rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
