.grid-container {
  margin: 2rem 4rem;
}
.grid-row {
  background-color: #f5f5f5;
  background-size: cover;
  display: grid;
  grid-gap: 1rem;
  justify-content: left;
  margin: 1rem 0 3rem 0;
  padding: 1rem;
  height: 90vh;
}
.grid-row .header {
  height: 100%;
}
.grid-row-tree_site {
  grid-template-columns: min-content repeat(4, auto);
}
.grid-row-tree_client {
  grid-template-columns: max-content repeat(3, auto);
}
.grid-row-tree_flow {
  grid-template-columns: min-content auto;
}
.grid-row-tree_alert {
  grid-template-columns: min-content auto;
}
.grid-header {
  background-color: $color-1;
}
.grid-header,
.grid-info {
  height: 100%;
}
.grid-header > div,
.grid-info > div {
  padding: 2rem;
}
.grid-info {
  height: 100%;
  overflow-y: scroll;
}
.grid-info >div {
  margin: 1rem 0;
  border: 4px solid transparent;
}
.grid-info >div:first-child {
  margin: 0;
}
.tile_component {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.tile_component .checkbox {
  align-self: right;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}
.btn-center {
  text-align: center !important;
}
.flex-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.action_button {
  font-size: 0.8rem;
  display: inline-block;
  min-width: 86px;
  padding: 0px 6px;
  margin: 2px;
  border-color: $color-5;
  text-transform: uppercase;
  opacity: 0.75;
}
.action_button i {
  padding: 0;
}
.action_button:hover {
  border-color: $color-6;
  opacity: 1;
}
.action_button.auto-width {
  min-width: 20px;
}
.action_button span {
  margin-left: 4px;
}
.action_button.btn-icons {
  font-size: $btn-font-size-icons;
  min-width: 38px;
  text-align: center;
  text-transform: uppercase;
}
.action_button.btn-icons span {
  display: none;
}
.grid-info .action_button {
  text-align: left;
}
.grid-info .action_button span {
  margin: 0;
}
.action_toogle:hover {
  color: $color-2;
}
.clear {
  clear: both;
}
.header-tile-icons {
  display: flex;
  justify-content: flex-start;
  margin: 4px 0.3rem;
}
.header-tile-icons span {
  vertical-align: middle;
  margin: 0 0.25rem 0 0;
}
.header-tile-icons span i {
  margin: 0 0.42rem;
}
.header-tile-icons .state-warning {
  color: #bf360c;
}
ul.process-info {
  margin-bottom: 0;
}
ul.process-info li {
  margin-bottom: 4px;
}
ul.header-tile-info {
  margin-bottom: 0;
}
ul.header-tile-info li {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
  justify-content: left;
}
ul.header-tile-info li i {
  padding: 0;
  top: 4px;
}
div.process_header_tile_off {
  background-color: #d3d3d3;
  height: 100%;
}
div.process_header_tile_on {
  background-color: $color-4;
  height: 100%;
}
div.process_info_tile {
  background: $color-7;
  overflow-x: scroll;
  width: 100%;
}
div.table_layout {
  display: block;
  margin-bottom: 0.5rem;
}
div.table_layout_element:first-child {
  margin-right: 8px;
}
div.is_selected_timeperiod {
  border: 4px solid $color-8;
}
div.is_next_timeperiod {
  border: 4px solid $color-9;
}
div.state_embryo {
  background-color: $color-10;
}
div.state_in_progress {
  background-color: $color-12;
}
div.state_processed {
  background-color: $color-13;
}
div.state_final_run {
  background-color: $color-14;
}
div.state_skipped {
  background-color: $color-15;
}
div.state_skipped .action_button {
  border-color: $color-6;
}
div.state_noop {
  background-color: $color-16;
}
div.state_inconsistent {
  background-color: $color-17;
}
div.state_inactive {
  background-color: #d3d3d3;
}
@media (max-width: 1290px) {
  .grid-row div .action_button {
    font-size: $btn-font-size-icons;
    min-width: 40px;
    display: inline-block;
    padding: 0px 6px;
    text-align: center;
    margin: 2px;
    border-color: $color-5;
    text-transform: uppercase;
    opacity: 0.75;
  }
  .grid-row div .action_button span {
    display: none;
  }
  .grid-row div.tree_header_tile .action_button {
    font-size: $btn-font-size;
  }
}
