.fa-input {
    font-family: FontAwesome, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.grid-container {
    margin: 2rem 4rem;
}

.grid-row {
    background-color: whitesmoke;
    display: grid;
    grid-gap: 0.75rem;
    justify-content: space-between;
    margin: 1rem 0 3rem 0;
    height: 90vh;
}

.grid-row .header {
    height: 100%
}

.grid-row-tree_site {
    grid-template-columns: auto repeat(4, 1fr);
}

.grid-row-tree_client {
    grid-template-columns: auto repeat(3, 1fr);
}

/* .grid-container.spacer {
    margin-bottom: 40px;
} */

.grid-header {
    /* background-color: lightsalmon; */
    background-color: #C1CAD6;
    box-sizing: border-box;
}

.grid-header, .grid-info {
    height: 100%;
}

.grid-header > div, .grid-info > div {
    padding: 0.86824rem;
}

/* .grid-header > div textarea {
    margin-bottom: 5px;
} */

.grid-info {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.grid-info > div {
    margin: 1rem 0;
}

.grid-info > div:first-child {
    margin: 0;
}

.action_button {
    font-size: 0.9265rem;
display: inline-block;
width: 86px;
padding: 8px;
text-align: left;
margin: 2px 4px;
}

.action_toogle:hover {
    font-weight: bold;
    color: blueviolet;
}

.clear {
    clear: both;
}

.header-tile-icons {
    display: flex;
}



div.tree_header_tile {
    /* background: #C1CAD6; */
}

div.process_header_tile_off {
    background-color: lightgray;
}

div.process_header_tile_on {
    /* background-color: lightsalmon; */
    background-color: #DDE1E4;
}

/* div.process_header_tile_off .fa-ul, div.process_header_tile_on .fa-ul {
    margin-bottom: 2px;
} */

div.process_info_tile {
    background: #ffbb88;
}

div.table_layout {
    display: table;
}

div.table_layout_element {
    display: table-cell;
    vertical-align: top;
}

div.tile_component {
    float: left;
}

div.is_selected_timeperiod {
    outline: 2px dotted darkorange;
}

div.is_next_timeperiod {
    outline: 2px solid darkred;
}

div.state_embryo {
    background-color: #D5F5FF;
}

div.state_embryo div {
    color: #000000;
}

div.state_in_progress {
    background-color: #C3FDB8;
}

div.state_in_progress div {
    color: #000000;
}

div.state_processed {
    background-color: #15C200;
}

div.state_processed div {
    color: #000000;
}

div.state_final_run {
    background-color: #ADFF2F;
}

div.state_final_run div {
    color: #000000;
}

div.state_skipped {
    background-color: #FF4500;
}

div.state_skipped div {
    color: #000000;
}

div.state_noop {
    background-color: #FFFFAA;
}

div.state_noop div {
    color: #000000;
}

div.state_inconsistent {
    background-color: #d28aff;
}

div.state_inactive {
    background-color: lightgray;
}
