html,
body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
	color: #006;
	padding: 10px;
}

.footer {
	width: 100%;
	margin: 0;
	padding: 1rem;
	clear: both;
	background-color: rgba(0, 204, 255, 1);
	color: white;
	display: inline-flex;
	justify-content: space-between;
}

.footer a {
	color: white;
}

.inline {
	display: inline;
}

.nav {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 2rem 1rem;
	background-color: rgba(0, 204, 255, 1);
	color: white;
	vertical-align: middle;
	align-items: center;
}

.nav .navbar {
	margin: 0;
	display: inline-flex;
	height: 100%;
	/* align-self: flex-end; */
	/* justify-self: right; */
	/* padding: 0.5rem 1rem; */
}

.nav-item {
	display: inline-flex;
	border-right: 1px solid white;
	color: whitesmoke;
	padding: 0 2rem;
	margin: 0;
	height: 100%;
}

.page-title-bar {
	padding: 1rem 2rem;
	display: flex;
	justify-content: right;
}

.page-title-bar h2 {
	display: inline-flex;
	margin-bottom: 0;
}

.page-title-bar .side-tool-bar {
	display: inline-flex;
	vertical-align: middle;
	align-self: flex-end;
	align-items: flex-end;
}

/* .nav-item

.nav-item a {
	color: whitesmoke;
	text-decoration: none;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.nav-item a:hover {
	color: white;
}

.nav-item a:active {
	color: white;
} */

a.nav-item {
	color: whitesmoke;
	text-decoration: none;
	box-sizing: border-box;
	height: 100%;
	/* width: 100%; */
}

a.nav-item.active {
	text-decoration: underline;
	color: white;
	background-color: rgba(255,255,255,0.5);
}

.nav-item:hover {
	color: white;
}

.nav-item:active {
	color: white;
	text-decoration: underline;
}

.nav-item:last-of-type {
	border: none;
}

.header-table td {
	padding: 10px 15px;
	border-top: 1px solid #ffffff;
}

.header-table tr td a {
	text-decoration: none;
	color: #ffffff;
}

.header-table tr:hover td:hover {
	background: lightsalmon;
}

.header-table td.active {
	background: #cc0000;
}

.header-table tr:hover td:hover a,
.header-table tr:hover td:hover a:hover {
	text-decoration: none;
	color: black;
	background: lightsalmon;
} */

.side-tool-bar {
	/* right: 0; */
	margin: 0.5rem 0;
	display: flex;
	justify-content: flex-end;
	vertical-align: center;
}

.switch-label {
	margin: 0 0.5rem;
}

.switch {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 1.5rem;
	/* margin-left: auto;
	order: 3; */
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

/* slider indicator */
.slider:before {
	position: absolute;
	content: "";
	height: 1rem;
	width: 1rem;
	left: 0.25rem;
	bottom: 0.25rem;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
}

/* background color when checked */
input:checked + .slider {
	background-color: #333333;
}

input:focus + .slider {
	box-shadow: 0 0 1px #333;
}

input:checked + .slider:before {
	/* -webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px); */
	-webkit-transform: translateX(1.5rem);
	-ms-transform: translateX(1.5rem);
	transform: translateX(1.5rem);
}


/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Checkbox styles */
 /* Customize the label (the container) */
 .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* highlighting rows in dataTables accordingly to Job state */
tr.state_embryo {
	background-color: #d5f5ff !important;
}

tr.state_embryo td {
	color: #000000 !important;
}

tr.state_in_progress {
	background-color: #c3fdb8 !important;
}

tr.state_in_progress td {
	color: #000000 !important;
}

tr.state_processed {
	background-color: #15c200 !important;
}

tr.state_processed td {
	color: #000000 !important;
}

tr.state_final_run {
	background-color: #adff2f !important;
}

tr.state_final_run td {
	color: #000000 !important;
}

tr.state_skipped {
	background-color: #ff4500 !important;
}

tr.state_skipped td {
	color: #000000 !important;
}

tr.state_noop {
	background-color: #ffffaa !important;
}

tr.state_noop td {
	color: #000000 !important;
}

tr.state_inconsistent {
	background-color: #d28aff !important;
}

tr.state_inactive {
	background-color: lightgray !important;
}
